(
    selected_tab: Some("Reset"),
    command_fg: Some("#000000"),
    selection_bg: Some("#e5e5e6"),
    selection_fg: Some("#000000"),
    cmdbar_bg: Some("#f0f0f1"),
    cmdbar_extra_lines_bg: Some("#f0f0f1"),
    disabled_fg: Some("#1e2022"),
    diff_line_add: Some("#50a14f"),
    diff_line_delete: Some("#e45649"),
    diff_file_added: Some("#50a14f"),
    diff_file_removed: Some("#e45649"),
    diff_file_moved: Some("#a626a4"),
    diff_file_modified: Some("#986801"),
    commit_hash: Some("#a626a4"),
    commit_time: Some("#000000"),
    commit_author: Some("#4078f2"),
    danger_fg: Some("#ca1243"),
    push_gauge_bg: Some("#4078f2"),
    push_gauge_fg: Some("#fafafa"),
    tag_fg: Some("#986801"),
    branch_fg: Some("#0184bc"),
    syntax: Some("InspiredGitHub")
)
