alias blow_nm="find . -name 'node_modules' -type d -prune -exec rm -rf '{}' +"
alias switchtogitlabuser='git config user.email "7567248-preetamkajalrout@users.noreply.gitlab.com" && git config user.name "Preetam Kajal Rout"'
alias swithtogithubuser='git config user.email "3712035+preetamkajalrout@users.noreply.github.com" && git config user.name "Preetam Kajal Rout"'

## Normal utitlity mappings
alias l="ls -lha"

# Utility functions
function mkcd() {
  mkdir -p "$1" && cd "$1"
}

# GitUI aliases
alias gud="gitui -t theme_dark.ron"
alias gul="gitui -t theme_light.ron"